In [6]:
#import libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn import tree

In [13]:
#import data

data = pd.read_csv('./data/Housing data/housing.csv',sep='\\s+',header=None)

data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

#load data

X, y = df.drop(13,axis=1), df[13]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

dtr = tree.DecisionTreeClassifier(max_depth=5,random_state=42,criterion='entropy')

dtr.fit(X_train,y_train)

In [14]:
preds = dtr.predict(X_test)

mae = mean_absolute_error(y_test, preds)

print(f'the mean absolute error is {np.round(mae,2)}')

NameError: name 'dtr' is not defined

In [10]:
plt.rcParams["figure.figsize"] = (60,20)
free.plot_tree(dtr,filled = True);

NameError: name 'plt' is not defined